* {
	box-sizing: border-box;
}

h1 {
	margin: auto;
	margin-bottom: 10px;
	margin-top: 10px;
}

body {
	display: flex;
	flex-flow: column;
}

header {
	display: flex;
}

nav {
	display: flex;
}

input {
	border-radius: 2px;
	width: 50vw;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 15px;
}

main {
	display: grid;
	height: 80vh;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
	grid-auto-flow: row;
}

div {
	display: flex;
	margin: auto;
}

img {
	flex: 1;
	margin: 20px;
	margin-bottom: 0;
}

